.main {
  display: flex;
}

.left-column {
  flex: 30%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.center-column {
  flex: 30%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  overflow: auto;
}

.right-column {
  flex: 40%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  overflow: auto;
}

.warn {
  color: #ff5a37;
}

.large {
    font-size: 1.5em;
}

textarea {
  height: 30rem !important;
  color: #606c76;
  font-family: monospace !important;
}

.button {
  margin-right: 1rem;
}

table {
  padding-right: 1rem;
  padding-left: 1rem;
}

.flow-table td, th {
    border-color: white;
}

.flow-table td.sep, th.sep {
    border-color: lightgray;
}

.flow-table td {
    text-align: center;
}

.flow-table td:first-child {
    text-align: left;
}

.flow-table td:last-child {
    padding: 1.2rem 1.5rem;
}

.multiplier-yellow {
    background-color: #fad01640;
}

.multiplier-red {
    background-color: #fd321a40;
}

.multiplier-blue {
    background-color: #19c0ff40;
}

.multiplier-green {
    background-color: #36e54140;
}

.multiplier-violet {
    background-color: #9f41cf40;
}

.bold {
    font-weight: bold;
}

td.nopad {
    padding: 1rem 0 0 !important;
}

td.center {
    text-align: center !important;
}